<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel="stylesheet" href="/style.css">
	<link rel="icon" href="/favicon/favicon.ico">
	<link rel='icon' type='image/png' sizes='32x32' href="/favicon/favicon-32x32.png">
	<link rel='icon' type='image/png' sizes='16x16' href="/favicon/favicon-16x16.png">
	<link rel='manifest' href="/favicon/site.webmanifest">
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<br>
<body>
	<hr>
    <div class="topnav">
            <a href="https://github.com/xcomfy">GitHub</a>
        </div>
    </div>
	<hr>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header><h1 id="tag_{{ .Title }}">{{ block "title" . }}{{ end }}</h1></header>
<article>
{{ block "main" . }}
<hr>
{{ .Content }}
{{ end }}
<hr>
{{ if .Param "nextprev" }}{{ partial "nextprev.html" . -}}{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>
</main>
{{ block "footer" . }}
<footer>
	{{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
</footer>
{{ end }}
</body>
</html>