:root {
	--theme-color-text: #ffffff;
	--theme-color-background: #222222;
	--theme-color-link: pink;
}

html {
	background-color: var(--theme-color-background);
	scrollbar-color: var(--theme-color-text) var(--theme-color-background);
}

body {
	max-width: 960px;
	margin:0 auto;
	font-size: 1.1em;
}

a:link, a:active {
	color: var(--theme-color-link);
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

a:visited{
	color: var(--theme-color-text);
	font-family: 'ariel', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}

a:hover{
	color: var(--theme-color-link);
	font-family: 'ariel', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}
h1, h2, h3, a, p, ul, li, td, tr {
	color: var(--theme-color-text);
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

#main,
#nav {
	margin: 0 auto;
	max-width: 50%;
}

hr {
	border: none;
	background: var(--theme-color-text);
	color: var(--theme-color-text);
	height: 1px;
}

#linkgrid {
	border: 0 var(--theme-color-text);
}

#linkgrid td {
	border: 4px ridge var(--theme-color-text);
	width: 50%;
	vertical-align: top;
}

.topnav {
	position: relative;
	overflow: hidden;
	background-color: var(--theme-color-link);
	color: var(--theme-color-text);
	padding: 1%;
	font-size: 1.1em;
}

footer {
	text-align: center;
}

.taglist {
	text-align: center;
	clear: both;
	color: var(--theme-color-text);
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

#prevart {
	float: left;
	text-align: left;
	color: var(--theme-color-text);
	text-decoration: underline;
}
#nextart {
	float: right;
	text-align: right;
	color: var(--theme-color-text);
	text-decoration: underline;
}

