html {
	background-color:#222222;
	scrollbar-color: #ffffff #222222;
}

body {
	max-width: 960px;
	margin:0 auto;
	font-size: 1.1em;
}

a:link, a:active {
	color: pink;
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

a:visited{
	color: white;
	font-family: 'ariel', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}

a:hover{
	color: pink;
	font-family: 'ariel', sans-serif;
	text-decoration: none;
	font-size: 1.1em;
}
h1, h2, h3, a, p, ul, li, td, tr {
	color: #ffffff;
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

#main,
#nav {
	margin: 0 auto;
	max-width: 50%;
}

hr {
	border: none;
	background: #ffffff;
	color: #ffffff;
	height: 1px;
}

#linkgrid {
	border: 0 #ffffff;
}

#linkgrid td {
	border: 4px ridge #ffffff;
	width: 50%;
	vertical-align: top;
}

.topnav {
	position: relative;
	overflow: hidden;
	background-color: pink;
	color: white;
	padding: 1%;
	font-size: 1.1em;
}

footer {
	text-align: center;
}

.taglist {
	text-align: center;
	clear: both;
	color: #ffffff;
	font-family: 'ariel', sans-serif;
	font-size: 1.1em;
}

#prevart {
	float: left;
	text-align: left;
	color: white;
	text-decoration: underline;
}
#nextart {
	float: right;
	text-align: right;
	color: white;
	text-decoration: underline;
}

