html {
	background-color:#22272a;
	scrollbar-color: #ffffff #22272a;
}

body {
	max-width: 960px;
	margin:0 auto;
}

img, a:link, a:visited, a:hover, a:active, h1, h2, h3, a, p, ul, li, td, tr {
	color: #ffffff;
	font-family: 'Silom', sans-serif;
}

#main,
#nav {
	margin: 0 auto;
	max-width: 50%;
}

#nav {
	border-bottom: 1px solid #ffffff;
	background: #171613;
}

hr {
	border: none;
	background: #ffffff;
	color: #ffffff;
	height: 1px;
}

#linkgrid {
	border: 0 #ffffff;
}

#linkgrid td {
	border: 4px ridge #ffffff;
	width: 50%;
	vertical-align: top;
}

.topnav {
	position: relative;
	overflow: hidden;
}

.topnav a, .topnav-centered a {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 0px 10px;
	text-decoration: none;
	font-size: 14px;
}

.topnav a:hover {
	background-color: #ffffff;
	color: black;
}

.topnav a.active {
	background-color: #ffffff;
	color: white;
}

.topnav-centered a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.topnav-right {
	float: right;
}

@media screen and (max-width: 600px) {
	.topnav a, .topnav-right {
		float: none;
		display: block;
	}

	.topnav-centered a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

footer {
	text-align: center;
	clear: both;
}

.taglist {
	text-align: center;
	clear: both;
	color: #ffffff;
	font-family: 'Silom', sans-serif;
}

#prevart, #nextart {
	float: left;
	text-align: left;
	max-width: 50%;
}
#nextart {
	float: right;
	text-align: right;
}